@media only screen and (min-width: 38rem) {
  /* Styles for larger screens */

  header span {
    font-size: 1.5rem;
  }

  #myButton {
    display: none;
  }

  ul.menuLinks, ul.menuLinks.open {
    display: flex;
    justify-content: space-around;
  }

  ul.menuLinks a:hover {
    color: #ffd000;
  }

  nav {
    grid-template-rows: 1fr;
  }
}