@media (min-width: 44rem) {
  #cards.grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns for medium screens */
  }
}

@media only screen and (min-width: 63rem) {
  /* Styles for larger screens */

  /* header section and nav */
  header span {
    font-size: 1.5rem;
  }

  #myButton {
    display: none;
  }

  ul.menuLinks, ul.menuLinks.open {
    display: flex;
    justify-content: space-around;
  }

  ul.menuLinks a:hover {
    color: #ffd000;
  }

  nav {
    grid-template-rows: 1fr;
  }

  /* main */
  /* for the cards */
  #cards.grid {
    grid-template-columns: repeat(3, 1fr); /* Three columns for larger screens */
  }

  /* list view */
  #cards.list .card {
    background-color: var(--bg-color);
    padding: 1rem 2rem;
    border-bottom: 2px solid var(--primary-color);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    text-align: left;
  }

  /* footer section */
  footer .container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin: .1rem 2.5rem .8rem 2.5rem;
  }

  .footer-content {
    margin: 0;
  }

  .footer-content ul {
    justify-content: center;
  }
}

