* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #8093e9;
  --secondary-color: #acb8f0;
  --bg-color: #ffffff;
  --txt-color: #1d1b1bd3;
}

/* Base styles for small screens */
body {
  background-color: var(--bg-color);
  color: var(--txt-color);
}

/* header */

header {
  background-color: var(--primary-color);
  padding: 1rem;
  text-align: left;
}

header {
  display: grid;
  grid-template-columns: 44px auto 44px;
  align-items: center;
}

header span {
  color: var(--txt-color);
  font-size: .85rem;
  font-weight: 700;
}

/* navigation */

nav {
  background-color: var(--txt-color);
}

#myButton::before {
  content: "\2630";
}

#myButton {
  font-size: 2.2rem;
  background: none;
  border: none;
  color: var(--txt-color);
  cursor: pointer;
  width: 100%;
  text-align: right;
  padding: .25rem 2vw;
}

ul.menuLinks li a {
  display: block;
  padding: .75rem 2vw;
  color: var(--bg-color);
  text-decoration: none;
}

ul li.current-menu-item a {
  color: #ffd000;
  background-color: rgba(0, 0, 0, 0.2);
}

#animateMe.open li a:hover {
  color: #ffd000;
  background-color: rgba(0, 0, 0, 0.2);
}

ul.menuLinks {
  list-style-type: none;
}

/* CSS for the open class */
#myButton.open::before {
  content:"X";
}

nav {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-out;
}

nav ul {
  overflow: hidden;
}

nav.open {
  grid-template-rows: 1fr;
}

/* main */

h1 {
  font-size: 1.5rem;
  padding: 2rem;
}

/* styling the grid and list button */

div.menu {
  display: flex;
  justify-content: center; 
  gap: 1rem; 
  margin: .5rem 0;
}

div.menu button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: var(--bg-color);
  border: none;
  cursor: pointer;
}

div.menu button img {
  width: 50px;
  height: auto;
}
/* end of styling the grid and list button */

/* Styles for grid and list views */
#cards.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 2rem;
}

#cards.grid .card {
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 8px;
  text-align: left;
}

#cards.grid .card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

#cards.list {
  display: block;
}

#cards.list .card {
  background-color: var(--bg-color);
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--primary-color);
  text-align: left;
}

#cards.list .card img {
  display: none;
}

/* Responsive styles */
@media (min-width: 38rem) {
  #cards.grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* footer */

footer {
  background-color: var(--primary-color);
  padding: .5rem;
}

/* Base styles for small screens */
footer .container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: left;
  font-size: .8rem;
}

.footer-content {
  width: 100%; 
}

.footer-content ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: .5rem;
  font-size: 2.5rem;
}

.footer-content ul a {
  color: var(--txt-color);
  margin: .2rem;
  
}

.footer-content ul a:hover {
  color: var(--bg-color);
}

.footer-content li {
  margin: 0 0.5rem;
}