* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #acb8f0;
  --secondary-color: #8093e9;
  --bg-color: #ffffff;
  --txt-color: #1d1b1bd3;
}

/* Base styles for small screens */
body {
  background-color: var(--bg-color);
  color: var(--txt-color);
}

/* header */

header {
  background-color: var(--primary-color);
  padding: 1rem;
  text-align: left;
}

header {
  display: grid;
  grid-template-columns: 44px auto 44px;
  align-items: center;
}

header span {
  color: var(--txt-color);
  font-size: 1.2rem;
  font-weight: 500;
}

/* navigation */

nav {
  background-color: var(--txt-color);
}

#myButton::before {
  content: "\2630";
}

#myButton {
  font-size: 2.2rem;
  background: none;
  border: none;
  color: var(--txt-color);
  cursor: pointer;
  width: 100%;
  text-align: right;
  padding: .25rem 2vw;
}

ul.menuLinks li a {
  display: block;
  padding: .75rem 2vw;
  color: var(--bg-color);
  text-decoration: none;
}

ul li.current-menu-item a {
  color: #ffd000;
  background-color: rgba(0, 0, 0, 0.2);
}

ul.menuLinks.open li a:hover {
  color: #ffd000;
  background-color: rgba(0, 0, 0, 0.2);
}

ul.menuLinks {
  display: none;
  list-style-type: none;
}

/* CSS for the open class */
#myButton.open::before {
  content:"X";
}

ul.menuLinks.open {
  display: block;
}

/* main */

h1 {
  font-size: 1.5rem;
}



footer {
  background-color: var(--primary-color);
  padding: 1rem;
  text-align: center;
}