:root {
  --primary-color: #ffffff;
  --secondary-color: #8093e9; 
  --text-color: #2e2e2e; 
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

header {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: .5rem;
  border-bottom: 4px solid var(--secondary-color);
}

header h2 {
  color: var(--text-color);
}

h2 {
  color: var(--secondary-color);
  font-weight: 600;
}


footer {
  background-color: var(--secondary-color);
  color: var(--text-color);
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}
