.mobile-nav {
  display: none;
  background-color: var(--primary-color);
}

.mobile-nav ul {
  list-style: none;
}

.mobile-nav a {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--text-color);
  text-decoration: none;
}

.mobile-nav a:hover {
  background-color: #15384f;
  color: var(--accent-color)
}

.mobile-nav a.active {
  color: var(--accent-color);
}
