/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    flex: 0;
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 0.5rem;
    border: none;
    cursor: pointer;
  }
  
  .main-nav {
    display: none;
  }
  
  .content-grid {
    grid-template-columns: 1fr;
  }
  
  .courses-grid {
    grid-template-columns: 1fr;
  }
  
  .mobile-nav.active {
    display: block;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .profile {
    flex: 1;
  }
}
